.todo {
    display: flex;
    align-items: center;
    width: 800px;
    height: 90px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 50px;
    background-color: rgb(243, 234, 251);
    color: black;
    font-weight: 500;
    font-size: 21px;
}
.todo_checkbox {
    content: '';
    display: inline-block;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #6a6969;
    border-radius: 0.3em;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.todo_content {
    width: 633px;
}
.todo_text {
    font-weight: 900; 
    font-size: 30px;
}
.todo_checkbox_delete {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #6a6969;
    border-radius: 0.3em;
    margin: 0 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}